/* Main navbar container */
.dark-nav {
  width: 100%;
  height: 58px;
  background-color: #0d1117; /* GitHub dark background */
  border-bottom: 1px solid #30363d;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 22px;
  font-family: "Inter", sans-serif;
}

/* LEFT side logo + name */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
  margin-right: 900px;
  margin-left: 20px;
}

.nav-logo h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

/* GitHub logo/avatar on left */
.nav-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/* RIGHT menu section */
.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Buttons/features */
.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #c9d1d9;
  font-size: 15px;
  transition: 0.18s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #ffffff;
}

/* Right side user avatar */
.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #30363d;
  cursor: pointer;
  transition: 0.2s;
}

.user-avatar:hover {
  border-color: #58a6ff;
}
